.header__button{
    margin: 0 0 25px 0;
    background: #4BCF84;
    border-radius: 7px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 160%;
    /* or 27px */
    color: #FFFFFF;
    padding: 16px 79px 15px 80px;
    white-space: nowrap;
}