@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__forward/page__forward.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__start/header__start.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__magazine/header__magazine.css);
@import url(../blocks/header/__tel/header__tel.css);
@import url(../blocks/header/__contwrapper/header__contwrapper.css);
@import url(../blocks/header/__swiper/header__swiper.css);
@import url(../blocks/header/__swiper/_item/header__swiper_item.css);
@import url(../blocks/header/__text/header__text.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__title/_sec/header__title_sec.css);
@import url(../blocks/header/__subtext/header__subtext.css);
@import url(../blocks/header/__subtext/_item/header__subtext_item.css);
@import url(../blocks/header/__adv/header__adv.css);
@import url(../blocks/header/__adv/_item/header__adv_item.css);
@import url(../blocks/header/__adv/_text/header__adv_text.css);
@import url(../blocks/header/__adv/_sectext/header__adv_sectext.css);
@import url(../blocks/header/__btncont/header__btncont.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__button/_sec/header__button_sec.css);
@import url(../blocks/red/red.css);
@import url(../blocks/red/__item/red__item.css);
@import url(../blocks/red/__box/red__box.css);
@import url(../blocks/red/__item/_text/red__item_text.css);
@import url(../blocks/red/__item/_sectext/red__item_sectext.css);
@import url(../blocks/red/__button/red__button.css);
@import url(../blocks/main/main.css);
@import url(../blocks/content/content.css);
@import url(../blocks/provider/provider.css);
@import url(../blocks/top/top.css);
@import url(../blocks/top/__subtext/top__subtext.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__itemposition/gallery__itemposition.css);
@import url(../blocks/gallery/__itembig/gallery__itembig.css);
@import url(../blocks/gallery/__itemsmall/gallery__itemsmall.css);
@import url(../blocks/gallery/__itemsmall/_sec/gallery__itemsmall_sec.css);
@import url(../blocks/gallery/__itemsmall/_norm/gallery__itemsmall_norm.css);
@import url(../blocks/gallery/__bg/gallery__bg.css);
@import url(../blocks/gallery/__bg/_sec/gallery__bg_sec.css);
@import url(../blocks/gallery/__textarea/gallery__textarea.css);
@import url(../blocks/gallery/__textarea/_sec/gallery__textarea_sec.css);
@import url(../blocks/gallery/__textarea/_title/gallery__textarea_title.css);
@import url(../blocks/gallery/__textarea/_text/gallery__textarea_text.css);
@import url(../blocks/provider/__container/provider__container.css);
@import url(../blocks/provider/__textcontainer/provider__textcontainer.css);
@import url(../blocks/provider/__text/provider__text.css);
@import url(../blocks/provider/__title/provider__title.css);
@import url(../blocks/provider/__adv/provider__adv.css);
@import url(../blocks/provider/__adv/_item/provider__adv_item.css);
@import url(../blocks/provider/__adv/_itemtitle/provider__adv_itemtitle.css);
@import url(../blocks/provider/__adv/_itemtext/provider__adv_itemtext.css);
@import url(../blocks/provider/__textcont/provider__textcont.css);
@import url(../blocks/provider/__left/provider__left.css);
@import url(../blocks/link/link.css);
@import url(../blocks/provider/__left/_text/provider__left_text.css);
@import url(../blocks/provider/__right/provider__right.css);
@import url(../blocks/provider/__right/_price/provider__right_price.css);
@import url(../blocks/provider/__right/_text/provider__right_text.css);
@import url(../blocks/provider/__tarif/provider__tarif.css);
@import url(../blocks/provider/__tarif/_title/provider__tarif_title.css);
@import url(../blocks/provider/__tarif/_links/provider__tarif_links.css);
@import url(../blocks/provider/__tarif/_item/provider__tarif_item.css);
@import url(../blocks/rates/rates.css);
@import url(../blocks/rates/__container/rates__container.css);
@import url(../blocks/rates/__texts/rates__texts.css);
@import url(../blocks/rates/__texts/_title/rates__texts_title.css);
@import url(../blocks/rates/__texts/_subtitle/rates__texts_subtitle.css);
@import url(../blocks/rates/__left/rates__left.css);
@import url(../blocks/rates/__right/rates__right.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__forming/form__forming.css);
@import url(../blocks/form/__priceone/form__priceone.css);
@import url(../blocks/form/__saleprice/form__saleprice.css);
@import url(../blocks/form/__pricetext/form__pricetext.css);
@import url(../blocks/form/__rightpricing/form__rightpricing.css);
@import url(../blocks/form/__forming/_top/form__forming_top.css);
@import url(../blocks/form/__forming/_title/form__forming_title.css);
@import url(../blocks/form/__forming/_subtitle/form__forming_subtitle.css);
@import url(../blocks/form/__container/form__container.css);
@import url(../blocks/input/__box/input__box.css);
@import url(../blocks/input/__button/input__button.css);
@import url(../blocks/input/__text/input__text.css);